// body {
//   background: #e7e5e4;
// }

.main-title {
  text-transform: uppercase;
  text-align: center;
  color: black;
  h1 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
}

// .home-text {
//   background: url(../assets/background1.jpeg) no-repeat center center fixed
//     rgba(255, 0, 150, 0.3);
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-blend-mode: multiply;
//   background-size: cover;
// }

.subtitle {
  font-size: 36px;
  text-align: center;
  color: rgb(135, 135, 211);
  // margin: 10px;
}

.slider img {
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-blend-mode: multiply;
  background-size: cover;
  object-fit: contain;
}

@media (max-width: 400px) {
  .main-title {
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
  }
  .subtitle {
    font-size: 18px;
  }
}
