.logo {
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

#root {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  a {
    color: purple;
    text-decoration: none;
  }
}